/* ================= font set ============== */
@font-face {
  font-family: 'Lato' !important;
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/UyBMtLsHKBKXelqf4x7VRQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face{
	font-family: 'Lato' !important;
	src: 
	url('fonts/lato/Lato-Regular.ttf') format('truetype'),
	url('fonts/lato/Lato-Bold.ttf') format('truetype'),
}
html, body, main, p, a {
  -webkit-font-smoothing: antialiased;
	font-family: 'Lato' !important;
}
html, body {
  font-size: 100%;
}
body {
  overflow-y: scroll;
}

ul, p, img {
	-webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
	-webkit-padding-start: 0px;
}
body {
	margin: 0;
	padding: 0;
	/*outline: 1px solid green;*/
	background-color: #EDD7A5;
}
/* ========================== GENERAL CLASSES =========
================================================*/
.SludgeLeft {
	padding: 0 5%;
	/*outline: 1 solid white;*/
}

.is-active {
  color: RGB(178,63,0) !important;
}


/* ========================== MAIN NAV =========
================================================*/
nav {
	width:20%;
	float: left;
	background-color: #762416;

	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
	/*outline: 1px solid red;*/
}

header nav > ul {
	list-style: none;

}
header nav ul li {
	/*outline: 1px solid white;*/
	padding: 7px 0 0 30px;
}

header nav ul li img {
	width: 80%;
	margin: 5% 10% 15% 0;
	padding: 0;
}

header nav ul li a {
	color: #EDD7A5;
	text-decoration: none;
  transition: 0.5s;
}
header nav ul li a:link {
	color: #EDD7A5;
  transition: 0.5s;
}
header nav ul li a::visited {
	color: #EDD7A5;
  transition: 0.5s;
}

header nav ul li a:hover {
  transition: 0.5s;
  color: RGB(178,63,0);
}

p.navText {
  color: #EDD7A5;
  width: 80%;
	float: left;
	margin: 15% 5% 2% 10%;
	color: #EDD7A5;
  font-size: 0.8rem;
  font-style: italic;
}

/* ========================== FOOTER settings =========
================================================*/
.footer {
	width: 80%;
	float: left;
	margin: 75% 5% 2% 10%;
	color: #EDD7A5;
	/*outline: 1px solid blue;*/
}

/* ========================== SUB NAV settings =========
==========================================================*/
#subNav {
	position: fixed;
	width: 80%;
	margin-left: 20%;
	top: 0;
	right: 0;
	padding: 20px 0 20px 0;
	background-color: #DF2727;
	z-index: 100;
}
#subNav ul {
	list-style: none;
	text-align: right;
	/*outline: 1px solid white;*/
}
#subNav ul > li {
	display: inline-block;
	margin: 0 15px 0 15px;
}
#subNav ul > li > a {
  color: #EDD7A5;
  text-decoration: none;
}
#subNav ul > li > a:hover {
  color: RGB(178,63,0);
  text-decoration: none;
}
/* -----------       shopping cart       -----------  */
#subNav ul li:last-child {
  padding-right: 15px;
}

/* ========================== container settings =========
==========================================================*/
main {
	width: 70%;
	float: left;
	margin: 60px 0 0 20%;
  padding:0 5% 0 5%;
	color: RGB(40,40,40);
	/*outline: 1px solid black;*/
}
main a {
  color: RGB(40,40,40);
}

/* ========================== SLIDER SECTION settings =========
==========================================================*/
#slides {
  width: 90% !important;
  /*outline: 1px solid green;*/
  padding: 0px;
  margin: 0px;
}
#slides img {
	width: 80% !important;
	margin: 0 10% 0 10%;
  padding: 0px;
  /*outline: 1px solid blue;*/
}

.slidesjs-container, .slidesjs-control {
  /*outline: 1px solid red;*/
  width: 100% !important;
  height: 400px !important;
  padding: 0px;
  margin: 0px;
}


section.Slider #header {
	margin: 35px 0 25px 0;
}
section.Slider h2 {
	padding-right: 5%;
	text-align:  center;
}

    #slides {
      display: none
    }

    #slides .slidesjs-navigation {
      margin-top:5px;
    }



    a.slidesjs-next,
    a.slidesjs-previous,
    a.slidesjs-play,
    a.slidesjs-stop {
      background-image: url("../img/btns-next-prev.png");
      background-repeat: no-repeat;
      display:block;
      width:12px;
      height:18px;
      overflow: hidden;
      text-indent: -9999px;
      float: left;
      margin-right:5px;
      z-index: 100000;
    }

    a.slidesjs-next {
      margin-right:10px;
      background-position: -12px 0;
    }

    a:hover.slidesjs-next {
      background-position: -12px -18px;
    }

    a.slidesjs-previous {
      background-position: 0 0;
    }

    a:hover.slidesjs-previous {
      background-position: 0 -18px;
    }

    a.slidesjs-play {
      width:15px;
      background-position: -25px 0;
    }

    a:hover.slidesjs-play {
      background-position: -25px -18px;
    }

    a.slidesjs-stop {
      width:18px;
      background-position: -41px 0;
    }

    a:hover.slidesjs-stop {
      background-position: -41px -18px;
    }

    .slidesjs-pagination {
      margin: 7px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url("../img/pagination.png");
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }
    #slidesjs-slide {
      display: none;
    }

/* ========================== ABOUT US settings =========
=====================================================
=====*/
.About {
  margin-bottom: 5%;
}
.About img {
  display: inline-block;
	max-width: 400px;
	width: 40%;
	vertical-align: top;
}
.About p {
	display: inline-block;
  width: 48%;
	margin-left: 25px;
	margin-right: 0;
	padding: 0;
	vertical-align: top;
	font-size: 0.8rem;
}

.About h2 {
	margin: 15px 0 65px 0;
	text-align:  center;
}




/* ========================== CAR MODEL PAGE settings =========
================================================*/
article {
  margin: 60px 5% 30px 5%;
}

/*sssssssssssssssssss < start of Photo box > sssssssssssssssssss*/
section.productPhoto {
    display: inline-block;
    vertical-align: top;
    width: 45%;}

section.productPhoto img {
    width: 100%;}

/*sssssssssssssssssss < end of Photo box > sssssssssssssssssss*/


/*sssssssssssssssssss < start of Right side box > sssssssssssssssssss*/
section.rightSideContainer {
    display: inline-block;
    vertical-align: top;
    width: 42%;

    margin-left: 8%;

    text-align: left;}

/**************** Product headers ****************/
section.rightSideContainer h4 {
    font-weight: 200;
    font-size: 1.5rem;

    margin:0;
    -webkit-margin-before:0;
    -webkit-margin-after: 0;}

section.rightSideContainer h2 {
    font-weight: 900;
    font-size: 2rem;
    margin:0;
    -webkit-margin-before:0;
    -webkit-margin-after: 0;}

section.rightSideContainer h3{
    font-weight: 200;
    font-size: 2rem;}

/*<><><><><><><><><> < CHOOSE SIZE and QUANTITY > <><><><><><><><><><>*/
div.SizeQuantity {
    margin-bottom: 2rem;
    text-align: left;}

div.chooseSize {
    display: inline-block;
    width: 50%;
    min-width: 2rem;}

div.chooseSize form select {
    width:100%;
    height: 40px;
    padding: 2px;
    background: transparent;
    border: 1px solid RGB(223,39,39);
}
div.chooseSize form select:link {
  border: 1px solid white !important;
}
div.chooseSize form select::visited{
  border: 1px solid white !important;
}
div.chooseSize form select:hover {
  border: 1px solid white !important;
}
div.chooseSize form select:active {
  border: 1px solid white !important;
}
div.chooseSize form select::focus {
  border: 1px solid white !important;
}

div.chooseQuantity {
    display: inline-block;
    width: 20%;
    min-width: 1rem;

    margin-left: 1rem;}

div.chooseQuantity form select {
    width:100%;
    min-width: 100px;
    height: 40px;
    padding: 2px;
    background: transparent;
    border: 1px solid RGB(223,39,39)}

div.chooseQuantity form select:hover {
  border: 1px solid white !important;
}

button.AddToBag {
    width: 50%;
    height: 40px;
    min-width: 10rem;
    padding: 3px;

    background-color: transparent;
    border: 1px solid RGB(223,39,39);

    font-weight: 900;
    color: RGB(40,40,40);
    transition: 0.5s;
}
button.AddToBag:hover {
  border: 1px solid white;
}

button.AddToBag i {
    color: RGB(40,40,40);
    margin-left: 15px;}

/*<><><><><><><><><> < end of CHOOSE SIZE and QUANTITY > <><><><><><><><><><>*/
/*sssssssssssssssssss < end of Right side box > sssssssssssssssssss*/

/* ================================== TABS =========================== */
div.tab-content {
  border-top: 1px solid RGB(223,39,39) !important;
}

.nav-tabs li.active {
  border-top: 1px solid RGB(223,39,39);
  border-left: 1px solid RGB(223,39,39);
  border-right: 1px solid RGB(223,39,39);
}
.nav-tabs li.active a.tabsss {
  background-color: transparent;
}
.nav-tabs li a.tabsss {
  border-radius: 0px;
  background-color: transparent;
}
.tab-pane p {
  font-size: 1.2rem;
}

/* ============== Payment icons ============== */
.paymentIcons img {
  display: inline;
}
.paymentIcons img:hover {
  cursor: pointer;
}




